@model Feature
<div class="container">
    <div class="row">
        <form action="UpdatePost" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Icon</label>
                <input name="Icon" type="text" class="form-control" id="exampleInputEmail1">

            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Title</label>
                <input name="Title" type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Description</label>
                <textarea name="Description" row="5" class="form-control"></textarea>
            </div>
            <input asp-for="@Model.Id" hidden value="@Model.Id" />
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>
